version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: simplehttpserver:latest
    ports:
      - "8000:8000"
    volumes:
      - ./:/usr/src/app:ro
    restart: unless-stopped
